@import url('telma.css');
:root {
    --darkcolor: #182438;
    --maincolor: #FB9F89;
    --secondcolor: #C6D8D3;
}

/* My Styles */

body {
    background: var(--secondcolor);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0rem 0rem 0rem 2rem;
    object-fit: cover;
}

figcaption {
    font-family: 'Telma-Regular';
    font-size: 3vmin;
    color: var(--darkcolor);
    padding-top: 8vmin;
    padding-bottom: 3vmin;
}

figure {
    width: 30vmin;
    height: 40vmin;
    padding: 10px;
    box-shadow: 0px 0px 30px;
    border-top: 1em solid var(--darkcolor);
    border-radius: 0rem 0rem 0rem 2rem;
    background: var(--maincolor);
    overflow: hidden;
}